# LETS START PANDAS PRACTICE

In [7]:
import pandas as pd
x = [4,5,7,9,11,16]
x = pd.Series(x,index=['a','b','c','d','e','f'],name="Ashu Data")
print(x)
print(type(x))
print(x[2])

a     4
b     5
c     7
d     9
e    11
f    16
Name: Ashu Data, dtype: int64
<class 'pandas.core.series.Series'>
7

In [8]:
dic = {"Names of Programming Languages":['Python','C','C++','Javascript','Java'],"Rankings":['1','5','4','2','3']}
v = pd.Series(dic)
print(v)

Names of Programming Languages    [Python, C, C++, Javascript, Java]
Rankings                                             [1, 5, 4, 2, 3]
dtype: object

In [3]:
import pandas as pd
z = [1,2,3,4,5,6]
var1 = pd.DataFrame(z)
print(type(var1))

<class 'pandas.core.frame.DataFrame'>

In [12]:
dict0 = {"name":['Ashu','Umer','Moazzam','Bharru','Shaheer'],"marks":['96','74','88','55','81'],"city":['Karachi','Lahore','Karachi','Islamabad','Hyderabad']}
df = pd.DataFrame(dict0,index=['1','2','3','4','5'])
print(df)
print(df["name"][4]) # this is the way to get the data.

      name marks       city
1     Ashu    96    Karachi
2     Umer    74     Lahore
3  Moazzam    88    Karachi
4   Bharru    55  Islamabad
5  Shaheer    81  Hyderabad
Shaheer

In [6]:
import pandas as pd
DF = pd.DataFrame({"A":[2,3,9,11],"B":[4,7,16,1]})
print(DF)

    A   B
0   2   4
1   3   7
2   9  16
3  11   1

In [7]:
#Addition
DF["C"] = DF["A"] + DF["B"]
print(DF)

    A   B   C
0   2   4   6
1   3   7  10
2   9  16  25
3  11   1  12

In [8]:
#Multiplication
DF["C"] = DF["A"] * DF["B"]
print(DF)

    A   B    C
0   2   4    8
1   3   7   21
2   9  16  144
3  11   1   11

In [9]:
#True or False
DF["Result"] = DF["C"] >= 20
print(DF)

    A   B    C  Result
0   2   4    8   False
1   3   7   21    True
2   9  16  144    True
3  11   1   11   False

In [10]:
#Inserting a new column
DF.insert(1,"a1",[12,13,14,15])
print(DF)

    A  a1   B    C  Result
0   2  12   4    8   False
1   3  13   7   21    True
2   9  14  16  144    True
3  11  15   1   11   False

In [11]:
#inserting a new column upto limited data values
DF["c2"] = DF["C"][:3]
print(DF)

    A  a1   B    C  Result     c2
0   2  12   4    8   False    8.0
1   3  13   7   21    True   21.0
2   9  14  16  144    True  144.0
3  11  15   1   11   False    NaN

In [12]:
#Delete the data pop function / Del keyword
del DF["c2"]
print(DF)

    A  a1   B    C  Result
0   2  12   4    8   False
1   3  13   7   21    True
2   9  14  16  144    True
3  11  15   1   11   False

In [13]:
DF_pop = DF.pop("a1")
print(DF_pop)
print(DF)

0    12
1    13
2    14
3    15
Name: a1, dtype: int64
    A   B    C  Result
0   2   4    8   False
1   3   7   21    True
2   9  16  144    True
3  11   1   11   False